:root {
  --color-link-verified: green;
}
.field--type-link div.verified a::first-letter,
.field--type-link div.unverified a::first-letter {
  text-transform: uppercase;
}
.field--type-link div.verified,
.field--type-link div.verified a {
  cursor: pointer;
  color: var(--color-link-verified);
}
.field--type-link div.verified a,
.field--type-link div.unverified a {
  margin: 0 5px 0 5px;
}
.field--type-link div.verified svg,
.field--type-link div.unverified svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.field--type-link div.verified svg path {
  fill: var(--color-link-verified);
}
.field--type-link div.unverified svg path {
  fill: var(--color-text-primary-medium);
}
