.field--type-link .bluesky * #path1 {
    fill: #1284FE;
}
.field--type-link .diaspora * #path1 {
    fill: black;
}
.field--type-link .drupal * #path1 {
    fill: #0678BE;
}
.field--type-link .facebook * #path1 {
    fill: #0866FF;
}
.field--type-link .flickr * #path1 {
    fill: #FF0084;
}
.field--type-link .friendica * #path1 {
    fill: #FFC112;
}
.field--type-link .funkwhale * #path1 {
    fill: #3C3C3B;
}
.field--type-link .gitea * #path1 {
    fill: #609926;
}
.field--type-link .github * #path1 {
    fill: #1F2328;
}
.field--type-link .gitlab * #path1 {
    fill: #E24329;
}
.field--type-link .gnusocial * #path1 {
    fill: #9D232E;
}
.field--type-link .hubzilla * #path1 {
    fill: #43488A;
}
.field--type-link .instagram * #path1 {
    fill: #D300C5;
}
.field--type-link .kbin * #path1 {
    fill: #c358f8;
}
.field--type-link .lemmy * #path1 {
    fill: #06B0C6;
}
.field--type-link .linkedin * #path1 {
    fill: #0077B5;
}
.field--type-link .mail * #path1 {
    fill: #202020;
}
.field--type-link .mastodon * #path1 {
    fill: #5841D6;
}
.field--type-link .medium * #path1 {
    fill: #292929;
}
.field--type-link .meetup * #path1 {
    fill: #ED1C40;
}
.field--type-link .misskey * #path1 {
    fill: #577510;
}
.field--type-link .peertube * #path1 {
    fill: #EA650D;
}
.field--type-link .phone * #path1 {
    fill: #202020;
}
.field--type-link .pinterest * #path1 {
    fill: #DB0115;
}
.field--type-link .pleroma * #path1 {
    fill: #fba457ff;
}
.field--type-link .plume * #path1 {
    fill: #7765e3;
}
.field--type-link .reddit * #path1 {
    fill: #FF4500;
}
.field--type-link .rocketchat * #path1 {
    fill: #F5455C;
}
.field--type-link .slack * #path1 {
    fill: #36C5F0;
}
.field--type-link .snapchat * #path1 {
    fill: #FFFC00;
}
.field--type-link .spotify * #path1 {
    fill: #1ED760;
}
.field--type-link .threads * #path1 {
    fill: #000;
}
.field--type-link .tiktok * #path1 {
    fill: #00F2EA;
}
.field--type-link .tumblr * #path1 {
    fill: #35465c;
}
.field--type-link .twitter * #path1 {
    fill: #000;
}
.field--type-link .wikipedia * #path1 {
    fill: #000;
}
.field--type-link .wordpress * #path1 {
    fill: #0073AA;
}
.field--type-link .write-as * #path1 {
    fill: #292929;
}
.field--type-link .youtube * #path1 {
    fill: #F00;
}
